[Unit]
Description=MySql-backed File System

[Service]
Type=forking
# For backward compatibility, set the default MySQL port in the environment. If this needs to be overriden, it is done in the EnvironmentFile.
Environment="MYSQLFS_PORT=3306"
EnvironmentFile=/etc/sysconfig/mysqlfs.env
ExecStart=/usr/local/bin/mysqlfs -oallow_other -ohost=${MYSQLFS_HOST} -oport=${MYSQLFS_PORT} -odatabase=${MYSQLFS_DB} -ouser=${MYSQLFS_USER} -opassword=${MYSQLFS_PWD} -obig_writes ${MYSQLFS_MOUNT_PATH}
ExecStop=/usr/bin/fusermount -u ${MYSQLFS_MOUNT_PATH}
Restart=always
RestartSec=15

[Install]
Alias=mysqlfs
WantedBy=multi-user.target
